In [22]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv("data/raw/ChurnModelling_Raw_1.csv")
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.00,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.00,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.91,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0

In [24]:
df_encord=df[["Geography","Gender"]]
encoder=OneHotEncoder(drop="first",sparse_output=False)

In [25]:

encoded_df=encoder.fit_transform(df_encord[["Geography","Gender"]])

In [26]:
encoded_df=pd.DataFrame(encoded_df,columns=encoder.get_feature_names_out(["Geography", "Gender"]))
encoded_df.head()

   Geography_Germany  Geography_Spain  Gender_Male
0                0.0              0.0          0.0
1                0.0              1.0          0.0
2                0.0              0.0          0.0
3                0.0              0.0          0.0
4                0.0              1.0          0.0

In [ ]:
df=pd.concat(df,encoded_df,axis=1)